
<div class="mt-4">
    <form method="POST" action="">
        <label for="search">Tìm kiếm</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="ten" placeholder="Nhập tìm kiếm...">
            <button class="btn btn-outline-secondary"  type="submit" id="form-control">Button</button>
        </div>
        <select name="Dem" class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </form>
    
</div>

